@font-face {
    font-family: 'Mono';
    src: url("../fonts/RobotoMono.ttf") format("truetype");
}

@font-face {
    font-family: 'Body';
    src: url("../fonts/IBMPlexSans.ttf") format("truetype");
}

html, body {
    background-color: #fff;
    color: #000;
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

a:hover {
    color: #d14;
    text-decoration: underline;
}

a:focus, a:active {
    color: #d14;
    border: 0;
}

.btn-icon {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    width: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-icon img {
    flex: 0 0 auto;
    width: 36px;
    white-space: nowrap;
}

.btn-icon span {
    flex: 0 0 auto;
    width: 100%;
    white-space: nowrap;
}

.no-link:hover {
    text-decoration: none !important;
}

footer {    
    width: calc(100% - 240px);
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top:1px solid #111;
    border-left:1px solid #111;
}

#footer-content {
    flex: 1;
    padding: 15px 15px;
}

footer p {
	padding: 0;
	margin: 0;
}

h1 {
    font-size: 16pt !important;
    border-bottom: 1px solid #111;
    padding: 30px;
    margin: 0;
    color: #d14;
    font-weight: normal;
}

h2 {
    color: #d14;
    font-size: 16pt !important;
    font-weight: normal;
}

.heading-command {
    color: #d14 !important;
    font-weight: normal;
    font-size: 16pt !important;
}

.heading-args {
    color: #cb7832 !important;
    font-weight: normal;
}

.heading-required {
    color: #d14 !important;
    font-weight: normal;
}

.kytsch {
    color: #000;
    font-weight: normal;
}

.basic {
    color: #d14 !important;
    font-weight: normal;
}

h3, h4, .h3 {
    font-size: 16pt;
    font-weight: normal;
    color: #d14 !important;
}

.important {
    font-weight: bold;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    border-right: 1px solid #111;
    background-color: #fff;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.kb-col {
    display: flex;
    flex-direction: row;
}

.kb-col-12 {
    flex: 0 0 auto;
    width: 50%;
}

.kb-col-24 {
    flex: 0 0 auto;
    width: 100%;
}

.kb-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.kb-captcha-img {
    width: 100%;
    background-color: #fff;
}

.kb-captcha-img img {
    min-width: 60%;
}

main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    margin-left: 240px;    
    overflow-x: hidden;
}

#main-content {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 60px;
    flex-direction: column;
}

#main-content-col {
    flex: 1;
    width: calc(100% - 90px);
    flex-direction: column;
    padding: 15px 45px 0 45px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#mobile {
    background: #000;
    position: absolute;
    left: 50px;
    top: 40%;
    z-index: 1000;
    font-size: 18pt;
    padding: 30px;
    display: none;
}

nav {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
}

nav a:hover {
    cursor: pointer;
    color: #d14;
    text-decoration: underline;
}

.nav-link {
    float: left;
    width: 100%;
    padding: 10px 0px 10px 30px;
}

p {
    white-space: pre-line;
}

p a {
    text-decoration: underline;
}

table {
    width: 100%;
	border-spacing: 0px;
    min-width: 50%;
}

.table-thumb {
    width: 100px;
}

.table-thumb img {
    max-width: 100%;
}

.table-border td {
    border: 1px solid #fff;
}

th, td {
    text-align: left;
	border-bottom: 1px solid #000;
	padding: 10px;
}

.list-tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-right {
	text-align: right;
}

.required {
    font-size: 0.8em;
    color: #d14;
}

.page-toolbar {
    display: flex;
    justify-content: flex-end;
    min-height: 60px;
    padding: 20px;
    flex: 1;
    border: 1px #000 solid;
    margin-bottom: 20px;
}

.box textarea {
    min-height: 400px;
}

.box {
    border: 1px #000 solid;
    margin-bottom: 20px;
    overflow: hidden;
}

.box-header {
    display: flex;
    flex: 1;
    gap: 5px;
    padding: 20px;
    background-color: #d14;
    color: #fff;
}

.box-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.input-group p {
    padding: 0 0 5px 0;
    margin: 0;
}

.input-group input {
    line-height: 1.6rem;
    width: calc(100% - 10px);
}

.box-footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1;
}

.box-footer div {
    width: 50%;
}

.box-footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow-x: scroll;
    }

    pre, .kb-code-block {
        -moz-tab-size: 2;
        tab-size: 2;
    }
}
@media only screen and (max-width: 900px) {
    #mobile {
        display: block;
    }
}
